*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(29, 51, 82);
    width: 100%;
}



.content {
    background-color: yellow;
    height:100px;
}

#jumbotron , #about {
    background-color: rgb(12, 126, 111);
}

.content-big , .content-portfolio , .content-portfolio-title , .content-about-title , .content-footer{
    margin: 20px 0px;
} 

.content-big{
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
   
}

.content-portfolio-title , .content-about-title {
    background-color: red;
    height: 100px;
}

.content-portfolio {
    background-color: orange;
    height: 300px;
}

.top-footer {
    background-color: rgb(59, 101, 133);
}

.bottom-footer {
    background-color: rgb(65, 81, 106);
}

.bottom-footer {
    height: 150px;
}


.content-footer {
    background-color: green;
    height: 200px;
}

.navbar a {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
    
}

.navbar-toggler-icon {
    filter: invert(1);
}

.nav-item {
    padding: 10px;
}

.img-jumbotron{
    width: 250px;
}