*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(29, 51, 82);
    width: 100%;
}

h3 {
    text-transform: uppercase;
}


.content {
    background-color: yellow;
    height:100px;
}

#jumbotron , #about {
    background-color: rgb(12, 126, 111);
}

#portfolio {
    margin-bottom: 30px;
}

.content-big , .content-portfolio , .content-portfolio-title , .content-about-title , .content-footer{
    margin: 20px 0px;
} 

.content-big{
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
   
}

.top-footer {
    background-color: rgb(59, 101, 133);
}

.bottom-footer {
    background-color: rgb(65, 81, 106);
}



.navbar a {
    text-transform: uppercase;
    font-weight: 600;
    color: white;
}

.navbar-toggler-icon {
    filter: invert(1);
    
}

.navbar-toggler-icon {
    filter: invert(1);
}

.nav-item {
    padding: 10px;
}

.img-jumbotron{
    width: 200px;
    margin: 15px 0px;
}

.line-star-white , .line-star-black {
    margin: 20px;
}



.line-star-white::before , .line-star-white::after {
    content:'';
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: rgb(249, 249, 249);
}

.line-star-black::before , .line-star-black::after {
    content:'';
    display: inline-block;
    width: 100px;
    height: 4px;
    background-color: rgb(8, 8, 8);
}

input , textarea {
    border-bottom: 1px solid gray;
    margin: 20px;
    padding:15px 0px ;
    width: 100%;
}

.btn-green-form {
    background-color: rgb(48, 164, 131);
    color: white;
}

.text-green {
    color: rgb(5, 174, 118);
}

